[submodule "java/to-do-list/java/to-do-list/todolist"]
	path = java/to-do-list/java/to-do-list/todolist
	url = git@github.com:upALX/to-do-list.git
[submodule "python/projects-hub/Find-languages-ETL"]
	path = python/projects-hub/Find-languages-ETL
	url = git@github.com:upALX/Find-languages-ETL.git
[submodule "projects-hub/help-creator-api/HelpCreatorBackSide"]
	path = projects-hub/help-creator-api/HelpCreatorBackSide
	url = git@github.com:upALX/HelpCreatorBackSide.git
[submodule "projects-hub/HelpCreatorBackSide"]
	path = projects-hub/HelpCreatorBackSide
	url = git@github.com:upALX/HelpCreatorBackSide.git
[submodule "projects-hub/Life"]
	path = projects-hub/Life
	url = git@github.com:upALX/Life.git
[submodule "typescript-curso-1"]
	path = typescript-curso-1
	url = git@github.com:alura-cursos/typescript-curso-1.git
[submodule "projects-hub/Orpen-Weather"]
	path = projects-hub/Orpen-Weather
	url = git@github.com:upALX/Orpen-Weather.git
[submodule "projects-hub/--force"]
	path = projects-hub/--force
	url = git@github.com:upALX/Orpen-Weather.git
[submodule "projects-hub/OrderAPI"]
	path = projects-hub/OrderAPI
	url = git@github.com:upALX/Order-API.git
[submodule "projects-hub/compree"]
	path = projects-hub/compree
	url = git@github.com:upALX/Compree.git
[submodule "projects-hub/microsservices-compree"]
	path = projects-hub/microsservices-compree
	url = git@github.com:devfullcycle/imersao17.git
[submodule "configs"]
	path = configs
	url = git@github.com:upALX/config.alx.git
[submodule "projects-hub/ComeToMyBar"]
	path = projects-hub/ComeToMyBar
	url = git@github.com:upALX/ComeToMyBar.git
[submodule "projects-hub/pick-me"]
	path = projects-hub/pick-me
	url = git@github.com:upALX/PickMe.git
[submodule "projects-hub/notes"]
	path = projects-hub/notes
	url = git@github.com:upALX/MyNotes.git
[submodule "projects-hub/pick"]
	path = projects-hub/pick
	url = git@github.com:upALX/PickMe.git
