[submodule "java/to-do-list/java/to-do-list/todolist"]
	path = java/to-do-list/java/to-do-list/todolist
	url = git@github.com:upALX/to-do-list.git
[submodule "python/projects-hub/Find-languages-ETL"]
	path = python/projects-hub/Find-languages-ETL
	url = git@github.com:upALX/Find-languages-ETL.git
[submodule "projects-hub/help-creator-api/HelpCreatorBackSide"]
	path = projects-hub/help-creator-api/HelpCreatorBackSide
	url = git@github.com:upALX/HelpCreatorBackSide.git
[submodule "projects-hub/HelpCreatorBackSide"]
	path = projects-hub/HelpCreatorBackSide
	url = git@github.com:upALX/HelpCreatorBackSide.git
[submodule "projects-hub/Life"]
	path = projects-hub/Life
	url = git@github.com:upALX/Life.git
[submodule "typescript-curso-1"]
	path = typescript-curso-1
	url = git@github.com:alura-cursos/typescript-curso-1.git
[submodule "projects-hub/Orpen-Weather"]
	path = projects-hub/Orpen-Weather
	url = git@github.com:upALX/Orpen-Weather.git
